:where(.css-dev-only-do-not-override-vn1oyg).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: red !important;
}
:where(.css-dev-only-do-not-override-vn1oyg).ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: red !important;
}

:where(.css-dev-only-do-not-override-vn1oyg).ant-steps.ant-steps-vertical
  > .ant-steps-item
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  width: 4px;
  height: 100%;
  position: relative;
  left: -3px;
}
.mb-5 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.d-flex {
  display: flex;
}
.prof_img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.map-container {
  flex: 0 0 40%; /* 40% width for map */
  height: 100%; /* Full height to match card */
}

.card-container {
  flex: 0 0 60%; /* 60% width for card */
  padding: 20px; /* Padding around the card */
}

.request-card {
  background: white; /* or any other background color */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* optional shadow */
  padding: 10px; /* spacing within the card */
}

.request-header {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .res_mobile {
    flex-direction: column !important;
    gap: 20px;
  }
  .prof_img {
    width: 60px;
    height: 60px;
  }
}
