.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer; /* Class for pointer cursor */
}

/* .graditudebox {
  border-radius: 20px !important;
} */

.pdf-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-preview {
  width: 100%;
  max-width: 600px; /* Adjust the max-width as needed */
  height: 300px; /* Adjust the height as needed */
}

.image-preview {
  max-width: 100%;
  height: auto;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .pdf-preview {
    height: 200px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .pdf-preview {
    height: 150px; /* Adjust height for extra small screens */
  }
}
