/* LoginComponent.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.donar-logo {
  margin-bottom: 20px;
  width: 100px;
  /* height: 100px; */
}

.welcomeText {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
  color: #4caf50; /* Green color for the phone icon */
}

.input {
  border: none;
  outline: none;
  font-size: 16px;
}

.button {
  background-color: #1976d2; /* Blue color for the button */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Add this to LoginComponent.css */

.toggleContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.toggleContainer button {
  padding: 10px 20px;
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.toggleContainer button.active {
  background-color: #1976d2; /* Blue for the active button */
  color: #ffffff;
}

.input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}


.passwordContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #000; /* Color for the eye icon */
}

.input {
  padding-right: 30px; /* Add space for the eye icon */
}